<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{app_name}}</title>
    <link rel="stylesheet" href="../css/mockups.css">
  </head>
  <body>

    <header>
      <img src="../../icon.png" alt="">
      <p>{{app_name}}</p>
      <p>Tapmates</p>
    </header>

    <aside>
      <ul>
      {{#categories}}
        <li>
          <a href="../{{file}}/index.html">{{name}}</a>
        </li>
      {{/categories}}
      </ul>
      <ul>
      {{#sections}}
        <li>
          <a href="{{file}}">{{name}}</a>
        </li>
      {{/sections}}
      </ul>
    </aside>

    <main>
    {{#category}}
      <h1>{{name}}</h1>
    {{/category}}
    {{#sections}}
      <div class="section-item">
        <h2>
          <a href="{{file}}">{{name}}</a>
        </h2>
      {{#images}}
        <div class="detail-item">
          <p>
            <a href="../../{{category}}/{{file_url}}">
              <img src="../thumbs/{{category}}/{{file_url}}" alt="">
            </a>
          </p>
          <p>{{number}}</p>
        </div>
      {{/images}}
      </div>
    {{/sections}}
    </main>

  </body>
</html>
