<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{#category}}{{name}}{{/category}} &gt; {{#section}}{{name}}{{/section}} &ndash; {{app_name}}</title>
    <link rel="stylesheet" href="../css/mockups.css">
  </head>
  <body>

    <header>
      <a href="../index.html">
        <img src="../../icon.png" alt="">
      </a>
      <p>{{app_name}}</p>
      <p>Tapmates</p>
      <img src="../img/logo.png" alt="">
    </header>

    <aside>
      <ul id="js-categories-list" class="categories-list">
      {{#categories}}
        <li class="{{file}}">
          <a href="../{{file}}/index.html">{{name}}</a>
        </li>
      {{/categories}}
      </ul>
      <ul id="js-sections-list" class="sections-list">
      {{#sections}}
        <li class="{{class}}">
          <a href="{{file}}">{{name}}</a>
        </li>
      {{/sections}}
      </ul>
    </aside>

    <main>
      <h1>
      {{#category}}
        <a href="../{{file}}/index.html">{{name}}</a>
      {{/category}}
        &gt;
      {{#section}}
        {{name}}
      {{/section}}
      </h1>
    {{#images}}
      <div class="detail-item">
        <p>
          <a href="../../{{category}}/{{file_url}}">
            <img width="200" src="../../{{category}}/{{file_url}}" alt="">
          </a>
        </p>
        <p>{{number}}</p>
      </div>
    {{/images}}
    </main>

    <script src="../js/mockups.js"></script>
    <script>
      markItemAsSelected('js-categories-list', '{{#category}}{{file}}{{/category}}');
      markItemAsSelected('js-sections-list',   '{{#section}}{{class}}{{/section}}');
    </script>

  </body>
</html>
