<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{app_name}}</title>
    <link rel="stylesheet" href="css/mockups.css">
  </head>
  <body>

    <header>
      <a href="index.html">
        <img src="../../icon.png" alt="">
      </a>
      <p>{{app_name}}</p>
      <p>Tapmates</p>
      <img src="img/logo.png" alt="">
    </header>

    <aside>
      <ul id="js-categories-list" class="categories-list">
      {{#categories}}
        <li>
          <a href="{{file}}/index.html">{{name}}</a>
        </li>
      {{/categories}}
      </ul>
    </aside>

    <main>
      <h1>Hello :)</h1>
    </main>

    <script src="js/mockups.js"></script>

  </body>
</html>
