<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{app_name}}</title>
    <link rel="stylesheet" href="css/styles.css">
    {{! For development purposes }}
    {{! <link rel="stylesheet/less" href="css/styles.less" /> }}
  </head>
  <body>

    <nav>
      <div class="app">
        <a class="icon" href="index.html">
          {{#icon_exists}}
            <img src="../mockups/icon.png" alt="">
          {{/icon_exists}}
          {{^icon_exists}}
            <img src="img/icon.png" alt="">
          {{/icon_exists}}
        </a>
        <span>
          {{app_name}}
        </span>
      </div>

      <div class="tapmates">
        <p>Tapmates</p>
        <p>All rights reserved. Copyright 2014 by Tapmates</p>
        <img src="img/logo.png" alt="">
      </div>
    </nav>

    <aside>
      <ul id="js-categories-menu" class="categories-menu">
      {{#categories}}
        <li>
          <a href="{{file}}/index.html">{{name}}</a>
        </li>
      {{/categories}}
      </ul>
    </aside>

    <section>
      <h1>Hello :)</h1>
    </section>

    <script src="js/mockups.js"></script>

    {{! For development purposes }}
    {{! <script src="js/less.min.js"></script> }}
  </body>
</html>
